<header>
  <div class="top-blue-line"></div>
  <div class="header-center-container">
    <img src="./assets/img/logo/logo.jpg" alt="" />

    <div class="contact-me">
      <div class="mobile-icon">
        <img
          src="./assets/img/icons/call_24dp_0000F5_FILL0_wght400_GRAD0_opsz24.png"
          alt=""
        />
      </div>
      <div class="line"></div>
      <a href="tel:+6603414583"> +6603414583</a>
    </div>
  </div>
  <div class="bottom-links">
    <div class="links">
        <a href="#contact" class="active">Kontakt</a>
        <a href="#">Über Uns</a>
        <a href="#">Leistungen</a>
        <a href="#">Winterdienst</a>
    </div>
  </div>
</header>
